option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "5000"
    # add any additional environment variables as key: value here

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
