option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "5000"
    USE_CLOUD_SERVICES: "true"
    AWS_REGION: "eu-north-1"
    AWS_S3_BUCKET: "smart-energy-grid-reports-nci"
    AWS_DYNAMODB_TABLE_READINGS: "energy-grid-readings"
    AWS_DYNAMODB_TABLE_ALERTS: "energy-grid-alerts"
    AWS_DYNAMODB_TABLE_EQUIPMENT: "energy-grid-equipment"
    AWS_SNS_TOPIC_ARN: "arn:aws:sns:eu-north-1:366916330002:energy-grid-alerts"
    ENVIRONMENT: "production"

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: '5000'
