option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"
    USE_CLOUD_SERVICES: "true"
    AWS_S3_BUCKET: "energy-grid-reports"
    AWS_SNS_TOPIC_ARN: "YOUR_SNS_TOPIC_ARN"

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
