option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "3000"
    API_URL: "http://smart-energy-grid-env.us-east-1.elasticbeanstalk.com"
    FACILITY_ID: "facility-001"
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role