option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "3000"
    API_URL: "http://smart-energy-grid-env.eba-8hsepki2.eu-north-1.elasticbeanstalk.com"
    FACILITY_ID: "facility-001"
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: '3000'
